@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}

<h2>Supplier Directory</h2>
<a href="javascript:history.back()" class="form-control"><< Back</a>
<p>Placeholder for Supplier Directory</p>
