@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}

<h2>Task List</h2>
<a href="javascript:history.back()" class="form-control"><< Back</a>
<p>Placeholder for Task Management</p>