@model EventaDors.Entities.Classes.QuoteRequestEvent

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}
<div class="container">
    <h2>Event Details</h2>
    <A href="javascript:history.back()" class="form-control" >&lt; Back</A> 
</div>

