@model EventaDors.Entities.Classes.QuoteTemplateEvent

@{
    Layout = "_NewLayout";;
}

<div class="container">
    <a href="javascript:history.back()" class="form-control" >&lt; Back</a>
    <table class="table-bordered table-striped" style="width:100%">
        <thead>
        <tr>
            <td colspan="3">
                <h3>@Model.Event.Name</h3></td></tr>
        </thead>
        <tbody>
        <tr><td colspan="3"><span>@Html.Raw(Model.Event.Notes.Trim())</span></td></tr>
        <tr><td colspan="3"></tr>
        <tr><td colspan="3"><b>Elements</b></td></tr>
        @foreach (var element in Model.Elements)
        {
            <tr><td align="right">-</td><td>@element.Name</td><td>@element.Notes</td></tr>
        }
        </tbody>
    </table>
</div>