@model EventaDors.Entities.Classes.Journey

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.CurrentPage</title>
</head>
<body>
<div>
    <h1>@Model.CurrentPage</h1>
    <div>@Model.Email</div>
    <form method="post" asp-controller="NavigateChooseTemplate">
        <table style="width: 100%">
            <tbody>
            <td><textarea cols="100" rows="12" width="100%" type="text" asp-for="YourStory" ></textarea></td>
            <input type="hidden" asp-for="Email"/>
            <td valign="bottom"><input type="submit" class="btn btn-info w-100" value="Finish"></input></td>
            </tbody>
        </table>
    </form>
</div>
</body>
</html>