@model EventaDors.Entities.Classes.SessionIdWrapper

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script>
const connection = new signalR.HubConnectionBuilder()
.withUrl("/ProcessingMessageHub")
.build();
connection.start()
.catch(err => alert(err.toString()));
connection.on('UserConnected', (ConnectionId) => { let _message = " Connected " + ConnectionId;
let sender = $('#senderUId').text();
appendLine(sender, _message);
});
connection.on('UserDisconnected', (ConnectionId) => {
    let _message = " Disconnected " + ConnectionId;
    let sender = $('#senderUId').text();
    appendLine(sender, _message);
});

connection.on('SendProcessingMessage', (sender, message) => {
    let _message = message;
    appendLine(sender, _message);
});
</script>
<h2>Chat Sample</h2>
<a href="javascript:history.back()" class="form-control"><< Back</a>
<div class="signalr-demo">
    <div id="senderUId">@Model.Id</div>
    <form id="messageform">            
        <input type="text" id="messagebox" />
        <input type="button" value="Send ProcessingMessage" id="btnSend" />
    </form>
    <hr />
    <ul id="messageList" style="text-align:left;"></ul>
</div>

