@model Journey

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.CurrentPage</title>
</head>
<body>
<div>
      
</div>
    <h1>@Model.CurrentPage<</h1>
    <a asp-controller="NavigateRegister"><< Back</a> | <a asp-controller="NavigateChooseTemplate">Next>></a>
</body>
</html>