@model dynamic

@{
    ViewBag.Title = "PlanMyAsianWedding";
    Layout = "_LoggedOutLayout";
}

<h2>Welcome to @ViewBag.Title</h2>
This web site is designed to allow permitted users to edit the static data that is required for the correct functioning of the EventaDors system.
<p>
<br>
Only permitted users should access data on this site. If you are not a permitted user please leave the site now.

