@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_NewLayout";
}
<div class="container">
    <section class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="padding: -9px 0px 0px;color: rgb(144,109,154);">Welcome</h2>
                <p class="text-center" style="padding: 2px;">Asian Weddings can be very complex affairs with lots of different ceremonies, traditions and rituals to be aware of and to plan for.<br>
                    <br><strong>Plan My Asian Wedding</strong> is the premier app for organising all aspects of Asian Weddings, from inception to a hugely successful big day</p>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="~/assets/img/big_hnds.jpeg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: var(--orange);"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="~/assets/img/gettyimages-1127700478-170667a.jpeg"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: var(--orange);"></i></a>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="~/assets/img/gettyimages-760255403-170667a.jpeg" style="height: 230.219px;"></a>
                    <h3 class="name">Article Title</h3>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right" style="color: var(--orange);"></i></a>
                </div>
            </div>
        </div>
    </section>
</div>