@model LinkWrapper

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
 <title>Registration Complete</title>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Data Maintenance</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/signalr/signalr.min.js"></script>
    </head>
<body>
<div>
    <h2>Registration Complete</h2>
    <p>Please confirm your email to continue by clicking the link in the email sent to you.</p>
    <p>For demo purposes the link that would be sent is shown below. Please click this link to continue and return to login.</p>
    <a href="@Model.Link">@Model.Text</a>
</div>
</body>
</html>