@model EventaDors.Entities.Classes.Journey

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>

 <title>Reset Password</title>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Data Maintenance</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/signalr/signalr.min.js"></script>
    </head>

<body>
<div>
    <h2>Reset Password</h2>
    <p>This page will handle password resetting. Not curently implemented.</p>
    <form asp-action="ResetPassword">
        <table>
            <tr><td>Enter your email Address</td><td><input asp-for="Email" class="form-control"></td></tr>
        </table>
    </form>
</div>
</body>
</html>