@model EventaDors.Entities.Classes.Journey

@{
    Layout = "_NewLayout";
}

<div class="container">
    <section class="login-clean">
        <form method="post" asp-controller="Registration" asp-action="Step1">

            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-log-in" style="color: #906d9a;"></i></div>
            <div class="form-group">
                <div><input class="form-control" asp-for="Email" type="email" name="Email" placeholder="Enter Email">
                <span asp-validation-for="Email" class="text-danger"></span></div>
            </div>
            <div class="form-group">
                <input class="form-control" asp-for="Password" type="password" name="Password" placeholder="Enter Password">
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
                
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="color: rgb(252,209,91);background: rgb(144,109,154);">Log In</button></div>
            <a class="forgot" asp-controller="ForgotPassword" asp-action="Index">Forgot your email or password?</a>
            </form>
        </section>
</div>