@model EventaDors.Entities.Classes.Journey

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Welcome</title>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Data Maintenance</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/signalr/signalr.min.js"></script>
    </head>
</head>
<body>
<div>
    <h2>Wecome to PlanMyAsianWedding</h2>
    <p>PLease login using the email address and password you chose as part of the registration process.</p>
    <p>If you are not yet a member please click on the register link.</p>
    <form asp-action="Step1">
        <table style="width: 100%">
            <tr><td>Email Address:</td><td><input asp-for="Email" class="form-control"></td></tr>
            <tr><td>Password</td><td><input type="password" asp-for="Password" class="form-control"></td></tr>
            <tr><td></td><td><input type="submit" value="Next>>"></td></tr>
            <tr><td colspan="2"><a asp-action="Register">Not registered? Click here to register</a></td></tr>
        </table>

    </form>
</div>
</body>
</html>