@model dynamic

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <title>Email Sent</title>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Data Maintenance</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <script src="~/lib/signalr/signalr.min.js"></script>
    </head>
</head>
<body>
<div>
     <p>Pasword reset email sent,</p> 
</div>
</body>
</html>