@model  EmailPayloadWrapper<IEnumerable<EventaDors.Entities.Classes.QuoteTemplate>>


@{
    Layout = "_NewLayout";
}

<div class="container">
    <table class="table-bordered table-striped" style="width:100%">
            <thead>
            <tr><td><b>Template Name</b></td><td><b>Event</b></td></tr>
            </thead>
            <tbody>
            @foreach (var template in Model.Payload)
            {
                <tr><td>@template.Name</td><td></td></tr>
                @foreach (var e in template.Events)
                {
                    <tr><td align="right">-</td><td><a href="~/QuoteTemplate/Index?id=@e.Id">@e.Event.Name</a></td></tr>
                }
                <tr><td></td><td><a style="background: rgb(144,109,154);color: rgb(252,209,91); width: 100%"
                                    class="btn btn-light action-button" asp-action="ChosenTemplate" asp-controller="QuoteTemplate" asp-route-id="@template.Id">Select [@template.Name]...</a></td></tr>
            }
            <tr><td></td><td><</td></tr>
            </tbody>
        </table>
        <input asp-for="Email">
        <a href="javascript:history.back()"><< Back</a> 
</div>