@model EventaDors.Entities.Classes.Journey

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<div class="container">
    <h2>Registration Completed</h2>
    <p>Registration process completed successfully</p>
    <p>The next step in the proces is to select the wedding template that most closely matches your event so that we can populate the app with a set of tasks you need to complete
        for a successful event.</p>
    <p>Clikc the <b>Next</b> button to view the available templates.</p>
    <a href="javascript:history.back()"><< Back</a> | <a asp-action="Step3" >Next >></a>

</div>
