<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <compilation debug="true"  />
        <httpRuntime  />
    </system.web>
    <appSettings>
        <add key="connectionString" value="Server=localhost;Database=EventaDors;User Id=sa;Password=pb6eNW&amp;eE%w%;"/>
    </appSettings>
</configuration>
