@model EventaDors.Entities.Classes.Journey

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.CurrentPage</title>
</head>
<body>
<div>
    <h1>@Model.CurrentPage</h1>
    <div>@Model.Email</div>
    <form asp-action="Index" asp-controller="NavigateAboutYou">
        <table>
            <tr>
                <td>Email Address: </td>
                <td><input type="text" asp-for="Email"></td>
            </tr>            
            <tr>
                <td>Type Password: </td>
                <td><input type="password" asp-for="Password"></td>
            </tr>
        </table>
        <a asp-controller="NavigateLogin"><< Back</a> | <input type="submit" value="Next>>"> 
        </form>
</div>
</body>
</html>